extends ../layout.jade
block contenido
    .container
        .row
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center Agregar Marca
                        form.form-signin(action="/admin/marcas/add-marca", method = "POST")
                            .form-label-group
                                input#inputDescripcion.form-control(type='text', name ='descripcion', placeholder='Enter Descripcion', required, autofocus)
                                label(for='descripcion', onclick="document.getElementById('inputDescripcion').focus();") Descripcion
                            .form-group
                                if messageMarca.length > 0
                                    for msg in messageMarca
                                        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                                            strong #{msg}
                                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                                span(aria-hidden='true') &times;
                            button.btn.btn-lg.btn-facebook.btn-block.text-uppercase(type='submit') Registrar Marca