doctype html
html
  head
    title SMAUNSE
    meta(charset="utf-8")
    link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css", rel = "stylesheet")
    link(href="/css/app.css", rel = "stylesheet")
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')

  body.d-flex.flex-column
    #page-content
      if userAdmin
        include ./navAdmin.jade
      else
        include ./navUser.jade
      block contenido
    include ./footer.jade

    script(type="text/javascript" src="/js/app.js")
    script(type="text/javascript" src="/js/md5.js")
    script.
        function copyValue(form, e){
          console.log(document.getElementById('search').value);
            if(document.getElementById('search')){
                var value = document.getElementById('search').value;
                form.articulo.value = value;
            }else{
                e.preventDefault();
            }
        }
        function convierteMd5(form, e){
          if(document.getElementById('inputContrasenia').value.length() < 8){
              hash = hex_md5(document.getElementById('inputContrasenia').value); /* MD5 */
              document.getElementById('inputContrasenia').value = hash;
              console.log(hash);
          }else{
              document.getElementById('caracter').style.display = "-webkit-inline-box";
              e.preventDefault();
          }
        }
        function mostrarRubro() {
            var x = document.getElementsByName("rubro");
        var i;
        for (i = 0; i < x.length; i++) {
            x[i].options[0].selected = 'selected';
            x[i].style.display = "none";
          }
          var servicio = document.getElementById("servicio");
          document.getElementById('rubro'+ servicio.value).style.display = "-webkit-inline-box";
        }
    script(src='https://code.jquery.com/jquery-3.4.1.slim.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
    script(type='text/javascript').
      

