extends ./layout.jade
block contenido
    .container
            .row
            .col-sm-9.col-md-7.col-lg-5.mx-auto
                .card.card-signin.my-5
                    .card-body
                        h5.card-title.text-center Sign Up
                        form(action="/add-user", method= "POST", onsubmit="convierteMd5(this, event);")
                            .form-label-group
                                input#inputDni.form-control(type='text', name='dni', placeholder='Enter DNI', required, autofocus)
                                label(for='DNI', onclick="document.getElementById('inputDni').focus();") N° de Documento
                            .form-label-group
                                input#inputNombreApellido.form-control(type='text', name='nombreApellido', placeholder='Nombre Apellido', required)
                                label(for='nombreApellido', onclick="document.getElementById('inputNombreApellido').focus();") Nombre y Apellido
                            .form-label-group
                                input#inputNumAfiliado.form-control(type='number', name='nAfiliado', placeholder='00000',  required)
                                label(for='numAfiliado', onclick="document.getElementById('inputNumAfiliado').focus();") Número de Afiliado
                            .form-label-group
                                input#inputNumTelefono.form-control(type='number', name='telefono', placeholder='385 537963', required)
                                label(for='numTelefono', onclick="document.getElementById('inputNumTelefono').focus();") Número Telefono
                            .form-label-group
                                input#inputEmail.form-control(type='email', name='correo', placeholder='example@example.com', required)
                                label(for='Email', onclick="document.getElementById('inputEmail').focus();") Email
                            .form-label-group
                                input#inputContrasenia.form-control(type='password', name='password', placeholder='password', required)
                                label(for='contrasenia', onclick="document.getElementById('inputContrasenia').focus();") Contraseña
                            .form-label-group
                                if messageSignup.length > 0
                                    for msg in messageSignup
                                        .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                                            strong #{msg}
                                            button.close(type='button', data-dismiss='alert', aria-label='Close')
                                                span(aria-hidden='true') &times;
                                .alert.alert-warning.alert-dismissible.fade.show(role='alert' id='caracter' style="display:none")
                                    strong Ingrese contraseña con más de 7 caracteres
                                    button.close(type='button', data-dismiss='alert', aria-label='Close')
                                        span(aria-hidden='true') &times;
                            button.btn.btn-lg.btn-primary.btn-block.text-uppercase(type='submit') Registrarse
